dl,
dt,
dd,
address {
  margin: 0;
  padding: 0;
}

.Footer {
  background-color: #222;
  color: #f7f7f7;
  font-size: 14px;
}

.FooterMobileNav {
  display: none;
  position: relative;
  bottom: initial;
  left: initial;
  background-color: #fff;
}

.FooterMobileNav ul {
  padding: 0;
  margin: 0;
  /* display: flex; */
  position: relative;
  /* align-items: stretch; */
  list-style: none;
  height: 52px;
}

.FooterMobileNav ul li {
  /* flex-grow: 1; */
  letter-spacing: -0.5px;
  width: 25%;
  float: left;
}

.FooterMobileNav ul li a {
  padding-top: 10px;
  text-align: center;
  /* height: 52px; */
  display: block;
  width: 100%;
}

.FooterMobileNav ul li a::before {
  content: "";
  background: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
  background-size: 626px 422.5px;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale')";
  display: block;
  margin: 0 auto;
  width: 24px;
  height: 24px;
}

.FooterMobileNav ul li a span {
  display: block;
  font-size: 10px;
  line-height: 15px;
  font-weight: 200;
  letter-spacing: -0.15px;
  color: #222;
}

.FooterMobileNav ul li:nth-child(1) a span {
  margin-top: 5px;
}

.FooterMobileNav ul li:nth-child(1) a::before {
  background-position: -601px -275px;
  width: 17px;
  height: 13px;
  margin-top: 3px;
}

.FooterMobileNav ul li:nth-child(2) a::before {
  background-position: -601px -246px;
  margin-top: -2px;
}

.FooterMobileNav ul li:nth-child(3) a::before {
  background-position: -401px -306px;
  margin-top: -2px;
}

.FooterMobileNav ul li:nth-child(4) a::before {
  background-position: -608px -76px;
  width: 17px;
  height: 19px;
}

.FooterWarp {
  width: 100%;
  /* height: 379px; */
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 60px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.5px;
  -webkit-text-size-adjust: 100%;
}

.FooterSns {
  margin-left: 0;
  position: relative;
  display: block;
}

.FooterSns a {
  width: 32px;
  height: 32px;
  float: left;
  background: 0 0;
  outline: 0;
}

.FooterSns a:not(.FooterSns a:nth-child(1)) {
  margin-left: 20px;
}

.FooterSns a:nth-child(2) {
  margin-left: 20px;
}

.FooterSns a:nth-child(3) {
  margin-left: 20px;
}

.FooterSns a::before {
  content: "";
  background: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale')";
  width: 32px;
  height: 32px;
  display: block;
  background-size: 1252px 845px;
}

.FooterSns a:nth-child(1)::before {
  background-position: -42px -775px;
}

.FooterSns a:nth-child(2)::before {
  background-position: -1214px -438px;
}

.FooterSns a:nth-child(3)::before {
  background-position: -1164px -685px;
}

.FooterSns::after {
  content: "";
  display: block;
  clear: both;
}

.FooterInner {
  margin: 0;
  padding: 80px 0;
  width: 100%;
  position: relative;
}

.FooterContact {
  margin-top: 14px;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: -0.33px;
  font-weight: 500;
  display: block;
  margin-bottom: 0;
  float: left;
}

.FooterContact dt {
  display: block;
  float: left;
}

.FooterContact .FooterF {
  font-weight: 300;
  margin: 0 0 0 20px;
  display: block;
  float: left;
}

.FooterContact .FooterS {
  font-size: 14px;
  margin: 0 0 0 10px;
  color: #9b9b9b;
  display: block;
  float: left;
}

.FooterContact .FooterAddPartner {
  display: block;
  padding: 5px 0 0;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  font-weight: 100;
  float: none;
  clear: both;
  margin: 0;
  width: 100%;
}

.FooterBlind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}

.FooterFaq {
  display: inline-block;
  padding: 0 20px;
  border: #9b9b9b 1px solid;
  border-radius: 18px;
  cursor: pointer;
  line-height: 36px;
  font-weight: 300;
  letter-spacing: -0.2px;
  margin-top: 12px;
  margin-left: 17px;
}

.FooterFaq a {
  font-size: 13px;
  height: 36px;
}

.FooterAbout::before {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #444;
}

.FooterAbout {
  position: relative;
  margin-top: 20px;
  clear: both;
  padding: 40px 0 0;
  border-top: none;
  letter-spacing: -0px;
  outline-width: 1px;
}

.FooterLogo {
  position: absolute;
  top: -60px;
  right: 0;
  background: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale')";
  width: 150px;
  height: 63px;
  background-size: 1252px 845px;
  background-position: 0 -612px;
  display: block;
}

.FooterAbout dd {
  margin-right: 18px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 600;
  letter-spacing: -0.21px;
  position: relative;
  display: inline-block;
  color: #d3d3d3;
}

.FooterAbout
  dd:not(.FooterAbout dd:nth-child(4), .FooterAbout
    dd:nth-child(8), .FooterAbout dd:nth-child(10)):before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -10px;
  width: 1px;
  height: 13px;
  background-color: #d3d3d3;
}

.FooterAbout dd:nth-child(1):before,
.FooterAbout dd:nth-child(2):before,
.FooterAbout dd:nth-child(3):before,
.FooterAbout dd:nth-child(5):before,
.FooterAbout dd:nth-child(6):before,
.FooterAbout dd:nth-child(7):before {
  content: "";
  display: block;
  position: absolute;
  top: 6px;
  right: -10px;
  width: 1px;
  height: 13px;
  background-color: #d3d3d3;
}

.FooterTems {
  position: absolute;
  bottom: 82px;
  right: 0;
}

.FooterTems a {
  font-size: 14px;
  line-height: 24px;
  font-weight: 200;
  letter-spacing: -0.21px;
  float: left;
  display: block;
  color: #fff;
  margin: 0 0 0 25px;
}

@media (max-width: 1140px) {
  .FooterLogo {
    display: none;
  }
}

@media (max-width: 1024px) {
  .FooterWarp {
    max-width: 1212px;
    padding: 0 10px;
    margin: 0 auto;
  }

  .FooterSns {
    margin-left: -10px;
    position: relative;
    display: block;
  }

  .FooterSns a {
    padding: 0;
    margin: 0;
    border: none;
    background: 0 0;
    outline: 0;
    cursor: pointer;
    float: left;
    display: block;
    width: 44px;
    height: 44px;
  }

  .FooterSns a::before {
    content: "";
    display: block;
    background-size: 626px 422.5px;
    width: 24px;
    height: 24px;
    background-position: -575px -306px;
  }

  .FooterSns a:not(.FooterSns a:nth-child(1)) {
    margin-left: 0;
  }

  .FooterSns a::before {
    content: "";
    background: url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png);
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale')";
    width: 24px;
    height: 24px;
    display: block;
    background-size: 626px 422.5px;
    margin: 10px 0 0 10px;
  }

  .FooterSns a:nth-child(1)::before {
    background-position: -575px -306px;
  }

  .FooterSns a:nth-child(2)::before {
    background-position: -256px -306px;
  }

  .FooterSns a:nth-child(3)::before {
    width: 33px;
    background-position: -218px -306px;
  }

  .FooterMobileNav {
    display: block;
  }

  .FooterInner {
    margin: 0;
    padding: 80px 0;
    width: auto;
    position: relative;
    margin: 0 20px;
    padding: 50px 0;
  }

  .FooterContact {
    float: none;
  }

  .FooterContact dt {
    font-size: 18px;
    line-height: 27px;
  }
  .FooterContact .FooterF {
    display: inline-block;
    line-height: 27px;
    font-size: 18px;
    margin: 0;
  }
  .FooterContact .FooterS {
    clear: both;
    display: block;
    margin: 5px 0 0 0;
    font-size: 12px;
    line-height: 18px;
    float: left;
  }

  .FooterContact .FooterAddPartner {
    padding: 5px 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 100;
  }

  .FooterFaq {
    float: left;
    margin: 0;
    margin-top: 15px;
    display: block;
  }

  .FooterAbout {
    margin-top: 15px;
  }

  .FooterAbout dd {
    margin-right: 14px;
    font-size: 11px;
    line-height: 19px;
    font-weight: 300;
    letter-spacing: -0.17px;
  }

  .FooterAbout dd:not(.FooterAbout dd:nth-child(10)):before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: -10px;
    width: 1px;
    height: 13px;
    background-color: #d3d3d3;
  }

  .FooterAbout dd:nth-child(1)::before,
  .FooterAbout dd:nth-child(2)::before,
  .FooterAbout dd:nth-child(3)::before,
  .FooterAbout dd:nth-child(4)::before,
  .FooterAbout dd:nth-child(5)::before,
  .FooterAbout dd:nth-child(6)::before,
  .FooterAbout dd:nth-child(7)::before {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    right: -10px;
    width: 1px;
    height: 13px;
    background-color: #d3d3d3;
  }

  .FooterBr {
    display: none;
    padding: 15px 0 0;
    border-top: #787878 1px solid;
  }

  .FooterTems {
    /* position: unset; */
    position: relative;
    margin-top: 30px;
    bottom: 4px;
  }

  .FooterTems a {
    margin: 0;
    font-size: 12px;
  }

  .FooterTems a:nth-child(2) {
    margin: 0 0 0 30px;
  }

  .FooterTems a:nth-child(3) {
    margin: 0 0 0 30px;
  }

  .FooterTems a:not(.FooterTems a:nth-child(1)) {
  }
}
