.HeaderMD {
  display: none;
}
.HeaderContainer {
  position: relative;
}
.HeaderFixed {
  position: fixed;
  display: block;
  height: 90px;
  width: 100%;
  z-index: 9000;
  background: #ffffff;
}
.HeaderWrapper {
  max-width: 1024px;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .HeaderContainer {
    padding-bottom: 90px;
  }
  .HeaderMenuList {
    position: fixed;
    height: 90px;
    padding-top: 33px;
    width: fit-content;
    left: calc(50% - 91.5px);
    z-index: 9900;
  }
  .HeaderMenuList li {
    float: left;
  }
  .HeaderMenuList li a span:hover:after {
    height: 4px;
    top: 34px;
  }
  .HeaderLeftNav {
    float: right;
    margin-top: 25px;
    height: 40px;
    width: 90px;
  }
  .HeaderLeftNav > a > img {
    margin: 5px 7px 0px 7px;
    width: 25px;
  }
}
@media screen and (max-width: 1023px) {
  .HeaderContainer {
    padding-bottom: 96px;
  }
  .HeaderFixed {
    height: 52px;
  }
  .HeaderLG {
    display: none;
  }
  .HeaderMD {
    display: block;
  }
  .HeaderLogo {
    width: 167px;
    height: 22px;
  }
  .HeaderMenuList {
    background-color: #ffffff;
    position: absolute;
    top: 52px;
    height: 44px;
    padding: 0px;
    align-items: center;
    border-bottom: #ececec 1px solid;
    width: 100%;
    display: table;
    table-layout: fixed;
    z-index: 8900;
  }
  .HeaderMenuList > li {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .HeaderMenuList li a {
    display: block;
  }
  .HeaderMenuList li > a :hover:after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    top: 29px;
    background: #ffca43;
  }
  .HeaderLeftNav {
    float: right;
    margin-top: 0px;
    height: 52px;
    width: 52px;
  }
  .HeaderLeftNav > a > img {
    margin-top: 14.5px;
    margin-left: 13.5px;
    width: 25px;
  }
}
@media \0screen\ {
  /* IE8 헤더 스타일*/
  .HeaderContainer {
    padding-bottom: 90px;
  }
  .HeaderMenuList {
    position: fixed;
    height: 90px;
    padding-top: 33px;
    width: fit-content;
    left: 45%;
    z-index: 9900;
  }
  .HeaderMenuList li {
    float: left;
  }
  .HeaderMenuList li a span:hover:after {
    height: 4px;
    top: 34px;
  }
  .HeaderLeftNav {
    position: fixed;
    right: 0;
  }
  .HeaderLeftNav > a > img {
    margin: 5px 7px 0px 7px;
    width: 25px;
  }
  .HeaderProfile {
  }
}
.HeaderFixed:after {
  content: "";
  position: absolute;
  height: 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f4f4f4;
}

.HeaderContainer a {
  cursor: pointer;
  text-decoration: none;
}
.HeaderMenuList li a {
  position: relative;
}
.HeaderMenuList li a span:hover:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  background: #ffca43;
}

.HeaderContainer span {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #3a3a3a;
}
.HeaderLogo {
  margin-top: 20px;
  float: left;
}
.HeaderFlowerClassList {
  margin-left: 50px;
}

.HeaderProfile {
  position: relative;
}

.HeaderhoppingBasket {
  position: relative;
}
