.Image .ImageContent {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.Image .ImageWrapper {
  position: relative;
}

.Image .ImageWrapper .ImageText {
  position: absolute;
  top: 450px;
  left: 10px;
}

.Image .ImageBtnGroup button {
  background-color: white;
  margin: 5px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 40px;
  margin-right: 4px;
  margin-bottom: 2px;
}

.Image .ImageBtnGroup button:first-child {
  border: 1px solid #a27fde;
  color: #a27fde;
}

.Image .ImageBtnGroup button:nth-child(2) {
  border: 1px solid #46cfa7;
  color: #46cfa7;
}

.Image .ImageBtnGroup button:nth-child(3) {
  border: 1px solid #ffa04d;
  color: #ffa04d;
}

.Image .ImageBtnGroup button:nth-child(4) {
  border: 1px solid #68a4fe;
  color: #68a4fe;
}

.Image .ImageBtnGroup button:nth-child(5) {
  border: 1px solid #ffcd32;
  color: #ffcd32;
}

.Image .ImageBtnGroup button:last-child {
  border: 1px solid #00afe3;
  color: #00afe3;
}

.Image .ImageTitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
}

.Image .ImageItemLine {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.Image .ImageItemContainer {
  display: flex;
}
