.Image {
  background: white;
  color: #222;
}
.HeaderWrapper {
  max-width: 1024px;
  margin: 0 auto;
}
.ImageWrap {
  width: 100%;
  max-width: 1240px;
  height: 700px;
  margin: 0 auto;
  padding: 0 60px;
  line-height: 16px;
}

.ImageInner {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.ImageWrapper {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
}

.ImageContent > .ImageWrapper {
  float: left;
}

.ImageContent > .ImageItemRightSideContainer {
  float: right;
  width: 50%;
}

.ImageItemContainerFirst > .ImageSub {
  width: 60%;
}

.ImageItemContainerSecond > .ImageSub {
  width: 60%;
}

.ImageItemContainerFirst,
.ImageItemContainerSecond {
  font-size: 17px;
  line-height: 25px;
}

.ImageItemTag {
  float: right;
  width: 40%;
}

.ImageMainContent:hover .ImageMain {
  transition: all 0.25s;
  transform: scale(1.15);
}

.ImageItemContainerFirst:hover .ImageSub {
  transition: all 0.25s;
  transform: scale(1.15);
}

.ImageItemContainerSecond:hover .ImageSub {
  transition: all 0.25s;
  transform: scale(1.15);
}

@media (max-width: 280px) {
  .ImageBtnGroup button {
    display: none;
  }
  .ImageInbox .ImageHead .ImageTitle {
    font-size: 11px;
    line-height: 10px;
    font-weight: 300;
    margin: 10px 0;
  }

  .Image .ImageWrap {
    width: 100%;
    max-width: 1240px;
    height: 400px;
    margin: 0 auto;
    padding: 0 60px;
    line-height: 16px;
  }
}

@media (max-width: 767px) {
  .ImageWrapper {
    width: 100%;
  }
  .ImageContent > .ImageItemRightSideContainer {
    width: 100%;
  }

  .ImageWrapper .ImageText {
    position: absolute;
    top: 200px;
    left: 5px;
  }

  .ImageWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ImageContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ImageHead .ImageTitle {
    font-size: 15px;
    line-height: 10px;
    font-weight: 300;
    margin: 10px 0;
  }

  .ImageBtnGroup button {
    font-size: 1px;
  }

  .ImageBtnGroup button:nth-child(-n + 4) {
    display: none;
  }

  .ImageItemFirst > .ImageItemLine {
    display: none;
  }

  .ImagePrevButton .ImageTextRight,
  .ImageNextButton .ImageTextLeft {
    font-size: 20px;
    color: lightgray;
    display: block;
  }

  .ImageButtonGroup .ImagePrevButton {
    position: absolute;
    top: 50%;
    left: -15%;
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-color: transparent;
  }

  .ImageButtonGroup .ImageNextButton {
    position: absolute;
    top: 50%;
    right: -15%;
    border-radius: 100%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    cursor: pointer;
    background-color: transparent;
    z-index: 999;
    width: 30px;
    height: 30px;
    border-color: transparent;
  }
}

@media (max-width: 1024px) {
  .ImageItemContainerFirst,
  .ImageItemContainerSecond {
    font-size: 10px;
    line-height: 20px;
  }

  .ImageWrapper .ImageText {
    font-size: 10px;
    line-height: 20px;
    position: absolute;
    top: 200px;
    left: 5px;
  }
}

.ImagItemSecondTag {
  float: right;
  width: 40%;
}

.ImageWrapper .ImageText {
  position: absolute;
  top: 500px;
  left: 15px;
  font-size: 20px;
  line-height: 30px;
}

.ImageBtnGroup button {
  background-color: white;
  cursor: pointer;
  border-radius: 40px;
  margin: 5px;
  padding: 7px;
}

.ImageBtnGroup button:first-child {
  border: 1px solid #a27fde;
  color: #a27fde;
}

.ImageBtnGroup button:nth-child(2) {
  border: 1px solid #46cfa7;
  color: #46cfa7;
}

.ImageBtnGroup button:nth-child(3) {
  border: 1px solid #ffa04d;
  color: #ffa04d;
}

.ImageBtnGroup button:nth-child(4) {
  border: 1px solid #68a4fe;
  color: #68a4fe;
}

.ImageBtnGroup button:nth-child(5) {
  border: 1px solid #ffcd32;
  color: #ffcd32;
}

.ImageBtnGroup button:last-child {
  border: 1px solid #00afe3;
  color: #00afe3;
}

.ImageTitle {
  font-size: 25px;
  line-height: 24px;
  font-weight: 300;
  margin: 10px 0;
}

.ImageStrong {
  font-weight: 600;
}

.ImageItemLine {
  margin: 22px 10px;
  width: 95%;
  border-bottom: 1px solid lightgray;
}

.ImagePrevButton {
  position: absolute;
  top: 50%;
  left: -5%;
  border-radius: 100%;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  cursor: pointer;
  background-color: transparent;
  z-index: 999;
  width: 70px;
  height: 70px;
  border-color: transparent;
}

.ImageNextButton {
  position: absolute;
  top: 50%;
  right: -5%;
  border-radius: 100%;
  box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
  cursor: pointer;
  background-color: transparent;
  z-index: 999;
  width: 70px;
  height: 70px;
  border-color: transparent;
}

.ImageWrapper img {
  width: 130%;
  height: 130%;
  overflow: hidden;
}

.ImageTextRight,
.ImageTextLeft {
  font-size: 50px;
  color: lightgray;
  display: block;
}
