/* 이미지 섹션*/
.Image .ImageContent {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.Image .ImageWrapper {
  position: relative;
}

.Image .ImageWrapper .ImageText {
  position: absolute;
  top: 450px;
  left: 10px;
}

.Image .ImageBtnGroup button {
  background-color: white;
  margin: 5px;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 40px;
}

.Image .ImageBtnGroup button:first-child {
  border: 3px solid purple;
}

.Image .ImageBtnGroup button:nth-child(2) {
  border: 3px solid green;
}

.Image .ImageBtnGroup button:nth-child(3) {
  border: 3px solid orange;
}

.Image .ImageBtnGroup button:nth-child(4) {
  border: 3px solid blue;
}

.Image .ImageBtnGroup button:nth-child(5) {
  border: 3px solid yellow;
}

.Image .ImageBtnGroup button:last-child {
  border: 3px solid skyblue;
}

.Image .ImageTitle {
  font-size: 22px;
  line-height: 34px;
  font-weight: 300;
}

.Image .ImageItemLine {
  margin: 10px 0;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

.Image .ImageItemContainer {
  display: flex;
}
