.popUp {
  width: 360px;
  height: 470px;
  position: absolute;
  left: 20px;
  top: 300px;
  z-index: 999;
}

.popUpBody {
  position: relative;
  width: 100%;
  height: 432px;
  overflow: hidden;
}

.popUpWarp {
  max-width: 100%;
  height: 100%;
  position: relative;
}

.popUpViewPort {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 432px;
  transform: translateZ(0);
}

.popUpSlide {
  width: 515%;
  position: relative;
  transition-duration: 0s;
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}

.popUpSlide a {
  float: left;
  width: 360px;
  cursor: pointer;
}

.popUpImg {
  max-width: 100%;
  height: auto;
}

.popUpDotsInner {
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.popUpDot a {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background-color: #bdbdbd;
  text-indent: -9999px;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
}

.popUpFooter {
  line-height: 34px;
  position: relative;
  width: 100%;
  height: 38px;
  padding: 0 10px;
  background-color: #3d3d3d;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
}

.popUpFooter div form {
  display: flex;
  align-items: center;
}

.popUpFooter div form input {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0;
  vertical-align: middle;
  border: none;
  outline: none;
  cursor: pointer;
}

.popUpFooter div form label {
  position: relative;
  font-size: 13px;
  margin-bottom: 0;
  padding-left: 5px;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.popUpCloseBtn {
  border: none;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url(https://www.welrixrental.co.kr/img/icon/close-w.png) no-repeat;
  background-size: 100%;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='url(https://kukka-2-media-123.s3.amazonaws.com/static/kukkart_new/img/sprite/kukka.png)', sizingMethod='scale')";
  cursor: pointer;
}
