.Youtube {
  background: white;
  color: #222;
}

.YoutubeWrap {
  position: relative;
  margin: 0 auto;
  padding: 0 60px;
  max-width: 1240px;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

.YoutubeInner {
  margin: 0 auto;
  padding: 0 60px;
  width: 100%;
  padding-bottom: 56.25%;
}

.YoutubeCaption {
  position: absolute;
  top: 85%;
  left: 65%;
  font-size: 30px;
  color: white;
  font-weight: 700;
  z-index: 100;
}

.YoutubeMain {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (max-width: 1024px) {
  .YoutubeCaption {
    display: none;
  }
}
